.nav{
height: 60px;
width: 45%;
text-align: right;
float: right;
display: inline-block;
padding-left:5px;
padding-right:5px;
border-style:none ;
} /*Styles The Nav Bar */

ul{
    margin: 0;
    padding-right: 25px;
    padding-left: 15px;
    display: inline-block;
    list-style-type: none; 
}
li{
    font-size: 20px;
    padding-top: 15px;  
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    font-family:Helvetica;
}
a{
text-decoration: none;
color: black;
}

li:hover{
    transform: scale(1.25);

} /*Makes the scale of the li element increase by 50% when you hover over it */

.main-body{
    background-image: linear-gradient(to right, rgb(8,255,103), rgb(4, 119, 252));
    height:800px;
    width:100%;
    margin-top: 5px;
}

.footer{
        background-image: linear-gradient(to right, rgb(8,255,103), rgb(4, 119, 252));
        height:200px;
        width:100%;
        margin-top: 5px;
        text-align:center;
    }

.media-links{
  padding-top:60px;
  padding-bottom:60px;
}
.container{
    margin: 10px;
}

/*CSS From W3Schools for Slideshows */
{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*From W3Schools^^^*/

/*Dark Mode */
body{
  padding:5px;
  background-color: white;
  color:black;

}
.dark-mode{
  background-color: #273035;
}

.darkmode-container{
  height: 60px;
  width: 45%;
  text-align: left;
  float:left;
  display: inline-block;
  padding-left:5px;
  padding-right:5px;
}

.nav-container{
  background-image: linear-gradient(to right, rgb(8,255,103), rgb(4, 119, 252));
  height: 60px;
}

/*Dark Mode Slider Button */
/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top:13px;
  margin-bottom:13px;
  margin-left:10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #273035;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Social media buttons Styles */

.fa{
  padding:20px;
  font-size:30px;
  width:20px;
  text-align:center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px 10px;
}

.fa-facebook{
  background:#3B5998;
  color:white;
}

.fa-twitter{
  background: #55ACEE;
  color: white;
}

.fa-google{
  background: #dd4b39;
  color: white;
}

.fa:hover{
  opacity: 0.9;
  transform: scale(1.25);
}

form{
  padding-top:15px;
  padding-left:15px;
}

#messagetext{
  height:200px;
  width:450px;
}

#fname{
  height:20px;
  width:225px;
  margin-left:20px;
}

#lname{
  height:20px;
  width:227px;
  margin-left:20px;
}
