.nav{
height: 60px;
width: 45%;
text-align: right;
float: right;
display: inline-block;
padding-left:5px;
padding-right:5px;
border-style:none ;
} /*Styles The Nav Bar */

ul{
    margin: 0;
    padding-right: 25px;
    padding-left: 15px;
    display: inline-block;
    list-style-type: none;
}
li{
    font-size: 20px;
    float: left;
    font-family:Helvetica;
    
}
a{
text-decoration: none;
color: black;
}


.main-body{
    background-color:#1f2d41;
    height:1000px;
    width:100%;
    box-shadow:0px 5px;
}

.footer{
        background-color:#1f2d41;
        height:200px;
        width:100%;
        text-align:center;
    }

.media-links{
  padding-top:130px;
}

/*Dark Mode */
body{
  background-color: white;
  color:black;

}
.dark-mode{
  background-color: #273035;
}

.darkmode-container{
  height: 60px;
  width: 45%;
  text-align: left;
  float:left;
  display: inline-block;
  padding-left:5px;
  padding-right:5px;
}

.nav-container{
  background-color:#0777d3;
  height: 60px;
  box-shadow:0px 5px;
  
}

/*Dark Mode Slider Button */
/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top:13px;
  margin-bottom:13px;
  margin-left:10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #273035;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

form{
  padding-top:15px;
  padding-left:15px;
}

.align-right{
  text-align:right;
}

.center {
  text-align: center;
  list-style-position: inside;
}
label{
  font-size:22px;
  color:white;
}

#button{
  font-size:16px;
}

.text-left{
  text-align: left;
}

.container1{
  margin-left:15px;
  padding-top:15px
}

h1{
  color:white;
}

.NavE{
  color:white;
}

.h3{
  color:white;
}

input{
  padding:5px;
  margin:5px;
}

#messagetext{
  width:800px;
  height:400px;
}

#email{
  width:800px;
  height:40px;
}

#fname{
  width:392px;
  height:40px;
}

#lname{
  width:392px;
  height:40px;
}

.titlecard{
  background-color: #2196F3;
}

.white-text{
  color:white;
}

.item-image{
  width:100%;
}

.wrapper {
  margin-left:auto;
  margin-right:auto;
  
}

.align-center{
  padding-top:10px;
  padding-right:15px;
}